html {
	  box-sizing: border-box;
	}

	*, *::before, *::after {
	  box-sizing: inherit;
	}

body{
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	padding: 0;
}

header {
	padding-top: 2em;
	text-align: center;
	background-color: red;
}

h1 {
	color: white;
	font-size: 1.5rem;
	margin-top: 0;
	position: absolute;
	top: 2.8rem;
	left: 0rem;
	width: 100%;
	text-shadow: #222222 2px 4px 3px;
}

h2 {
	text-align: center;
	margin: 0;
	position: absolute;
	color: white;
	bottom: 1em;
	width: 100%;
}

h3 {
	text-align: center;
}

.char {
	font-size: 4rem;
	display: block;
	text-shadow: #222222 2px 4px 3px;
}

.medal {
	width: 25%;
	margin: 0 auto;
}

.banner {
	position: relative;
}

.ban {
	width: 100%;
	margin: 0;
	display: block;
}

nav {
	text-align: center;
	overflow: hidden;
}

nav a {
	text-decoration: none;
	color: white;
	background-color: #222;
	display: block;
}

nav li {
	width: 50%;
	display: inline-block;
	border: 1px solid black;
	float: left;
	margin: 0;
}

nav ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}

figcaption {
text-align: center;
}

.dragon, .oxen {
	background-color: #e4c22a;
	padding-top: 1em;
	padding-bottom:1em;
}

.dragon-sym {
	float: left;
	width: 50%;
}

.drag {
	float: right;
	width: 50%;
}

.goat {
	background-color: #222;
	padding-top: 1em;
	padding-bottom:1em;
}

.goa {
	color: white;
}

.goat-sym {
	width: 50%;
	float: right;
}

.goatie {
width: 50%;
float: left;
}

.goatfig, .roostfig {
	color: white;
}

.rooster {
	background-color: #bc0017;
	padding-top: 1em;
	padding-bottom:1em;
}

.roo {
	color: white;
}

.roost-sym {
	width: 50%;
	float: left;
}

.roost {
	width: 50%;
	float: right;
}

.ox-img {
	float: left;
	width: 50%;
}

.ox-sym {
	float: right;
	width: 50%;
}


footer {
	text-align: center;
	background-color: #222;
	color: white;
	padding: 1em;
	text-decoration: underline;
}

