html {
	  box-sizing: border-box;
	}

	*, *::before, *::after {
	  box-sizing: inherit;
	}

body{
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	padding: 0;
}

header {
	padding: 2em;
	text-align: center;
	background-color: red;
}

h1 {
	color: white;
	font-size: 1.5rem;
	margin-top: 0;
	position: absolute;
	top: 2.4rem;
	left: 13.4rem;
}

footer {
	text-align: center;
}

.char {
	font-size: 4rem;
	display: block;
}

.medal {
	width: 25%;
	margin: 0 auto;
}











