html {
	  box-sizing: border-box;
	}

	*, *::before, *::after {
	  box-sizing: inherit;
	}

body{
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	padding: 0;
}

header {
	padding-top: 2em;
	text-align: center;
	background-color: red;
}

h1 {
	color: white;
	font-size: 1.5rem;
	margin-top: 0;
	position: absolute;
	top: 2.8rem;
	left: 0rem;
	width: 100%;
	text-shadow: #222222 2px 4px 3px;
}

h2 {
	text-align: center;
	margin: 0;
	position: absolute;
	color: white;
	bottom: 1em;
	width: 100%;
}

footer {
	text-align: center;
	background-color: black;
	padding: 1em;
}

.char {
	font-size: 4rem;
	display: block;
	text-shadow: #222222 2px 4px 3px;
}

.medal {
	width: 25%;
	margin: 0 auto;
}

.banner {
	position: relative;
}

nav a {
	text-decoration: none;
	text-align: left;
}

nav li {
	width: 50%;
	display: inline-block;
	border: 1px solid black;
	float: left;
}

nav ol {
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
}









