html {
	  box-sizing: border-box;
	}

	*, *::before, *::after {
	  box-sizing: inherit;
	}

body{
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	padding: 0;
}

header {
	padding: 0em;
	text-align: center;
	background-color: red;
}







